---
layout: page
title: What I'm currently playing
order: 7
description: When life permits, I play video games (board games too if there are others to play with). I haven't played much recently, maybe I'll have the time to write about what I have played...
---

<div class="posts">
  {% for post in site.posts %}
  {% if post.type == "game" %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endif %}
  {% endfor %}
</div>