<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">


<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"order" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <p>&nbsp;</p>

  <div class="row">
    <div class="column">
      <a target="https://www.facebook.com/amirhossein.tootoonimofrad" href="https://www.facebook.com/amirhossein.tootoonimofrad">
        <img class="contact-icon" src="/public/images/facebook.png" title="Facebook">
      </a>
    </div>
    <div class="column">
      <a target="https://www.linkedin.com/in/amir-tootooni-9a824220a/" href="https://www.linkedin.com/in/amir-tootooni-9a824220a/">
        <img class="contact-icon" src="/public/images/linkedin.png" title="Linkedin">
      </a>
    </div>
    <div class="column">
      <a target="https://github.com/amirtootooni" href="https://github.com/amirtootooni">
        <img class="contact-icon" src="/public/images/github.png" title="Github">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <a target="mailto:tootooni98@gmail.com" href="mailto:tootooni98@gmail.com">
        <img class="contact-icon" src="/public/images/email.png" title="Email">
      </a>
    </div>
    <div class="column">
      <a href="/public/PDFs/resume.pdf">
        <img class="contact-icon" src="/public/images/resume.png" title="Resume">
      </a>
    </div>
    <div class="column">
      <a href="/public/PDFs/CV.pdf">
        <img class="contact-icon" src="/public/images/cv.png" title="CV">
      </a>
    </div>
  </div>

  <div class="bottom">
    <div class="sidebar-item">
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
      <p>
        &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </p>
    </div>
</div>
</div>
